<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos personales</title>
    <link rel="stylesheet" href="css/estilos.css" type="text/css">
    <link rel="stylesheet" href="css/all.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto:wght@500&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/Imagenes/favicon.ico" type="image/x-icon">
</head>
<body>
    <% if (login || logincli) { %>
    <header class="header">
        <div class="menu-princ contenedor">
            <a href="/logout" class="logout">Cerrar Sesión</a>
            <% if (cambio) { %>
                <% if (login) { %>
                    <a href="/switch/2" class="logout">Cambiar de Usuario</a>
                <% } else { %>
                    <a href="/switch/1" class="logout">Cambiar de Usuario</a>
                <% } %>
            <% } %>
            <div class="btn-menu cont">
                <a href="#">
                    <i class="fas fa-user-circle"></i>
                </a>
            </div>
            <div class="usrn">
                <a href="/personal">
                    <p><%= name %></p>
                </a>
            </div>
        </div>
    </header>

    <section class="text">
        <div class="menuctx contenedor">
            <h2><i class="fas fa-address-book"></i>Información Personal</h2>
            <p>Consulta y actualiza tu información personal</p>
        </div>
    </section>

    <section class="form">
        <div class="form0 contenedor">
            <form action="/uppersonal" method="post">
                <div class="form1">
                    <input type="text" name="DatNombre" value="<%= data[0].DatNombre %>" class="campo" required>
                </div>
                <div class="form1">
                    <input type="text" name="DatApellido" value="<%= data[0].DatApellido %>" class="campo" required>
                </div>
                <div class="form1">
                    <input type="text" name="DaTelefono" value="<%= data[0].DaTelefono %>" class="campo" required>
                </div>
                <div class="form1">
                    <input type="email" name="DatCorreo" value="<%= data[0].DatCorreo %>" class="campo" required>
                </div>
                <button type="submit" class="btn-main">
                    Actualizar Registro
                </button>
            </form>
        </div>
    </section>

    <div class="cont-menu">
        <div class="logo">
            <i class="fas fa-university"></i>
        </div>
        <nav>
            <% if (login) { %>
                <a href="/vehiculos1">Categoría</a>
                <a href="/vehiculos2">Precio</a>
            <% } else { %>
                <a href="/vehiculos">Vehículos</a> 
            <% } %>
        </nav>
        <div class="copy">
            <div class="txt">
                <p>Oceanic Bank</p>
                <p>Copyright 2021</p>
            </div>
        </div> 
    </div>
    <% } else { %>
        <h1><strong><%= name %></strong></h1>
        <a href="/" class="a-login">Ir al Login</a>
    <% } %>
</body>
</html>